<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a routerLink="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="" class="br0 db mb0 w-100 fa fa-first-order"/>
	</a>

	<!-- Primary Nav -->
	<ul class="list pl0 flex mv0 b">

	<li><a routerLink="/manifesto" class="pa3 grey-3 no-underline db">Il Manifesto</a></li>
	<!-- <li> <a routerLink="/lavoraconoi" class="pa3 grey-3 no-underline db">Lavora con noi</a></li> -->

	</ul>

</nav>
