<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">PizzaHack</a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-menu">
      <!--<div class="navbar-default">-->
      <ul class="nav navbar-nav">
        <!--<li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>-->
        <li><a href="#">Do something</a></li>
        <li><a href="#">Do something else</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown open" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Manage me</a></li>
            <li><a style="cursor: pointer;">Manage me more</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
