<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Diventa un PizzaHacker</h3>
				<ul class="list mt0 mb3 pl0">

					<li><a href="http://work.joblers.net/it/curriculum-vitae/tipi-di-curriculum/" class="link">Dayum</a></li>
					<li><a href="https://europass.cedefop.europa.eu/it/documents/curriculum-vitae/templates-instructions" class="link">Look at the pizza</a></li>
					<li><a href="https://www.registroimprese.it/home" class="link">Lifehacks</a></li>

				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mt0 mb1 primary">Partners</h3>
				<ul class="list mt0 mb3 pl0">
					<li><a href="http://www.diaconiavaldese.org/" class="link">Pizza</a></li>
					<li><a href="http://www.torino.coldiretti.it/" class="link">Hackall</a></li>

				</ul>
			</div>


		</div>
	</div>

</footer>
