<div class="container-fluid">
        <div class="contenitoresupremo">

          <div class="">
          	<div class="ph3 mw7 center">
          		<h3 class="f3 b lh-title mb1">Chi Siamo</h3>

          </div>
          </div>

          <div class="team__gallery">



                <figure class="photo">
                  <img src="https://picsum.photos/601/?random" alt="Schinco" width="100%">
                  <figcaption>masterictFS</figcaption>
                  <h3>No internet</h3>
                  <div class="photo__social_link">

                    <ul class="social_link">
                      <li class="social_link_list"><a href="https://github.com/masterictFS"><i class="fa fa-github-square"></i></a></li>
                    </ul>

                  </div>
                </figure>

                <figure class="photo">
                  <img src="https://picsum.photos/602/?random" alt="Scafesi" width="100%">
                  <figcaption>clodpheasant</figcaption>
                  <h3><3</h3>
                  <div class="photo__social_link">
                    <ul class="social_link">
                      <li class="social_link_list"><a href="https://github.com/clodpheasant"><i class="fa fa-github-square"></i></a></li>
                    </ul>
                  </div>
                </figure>




        </div>
