<div
  *ngIf="pizzaToBeCompared else noPizza"
  class="col-md-12">
  <h3>{{pizzaToBeCompared.name}}</h3>
  <div class="row">
    <div class="col-md-12 list-group">
      <div
        *ngFor="let topping of pizzaToBeCompared.toppings"
        class="list-group-item clearfix">
        {{topping.name}}
        <span class="pull-right">
          <span class="btn btn-xs btn-default" (click)="removeToppingById(topping.id)">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <form (ngSubmit)="onAddIngredient()" #form="ngForm">
      <label for="topping">New Topping</label>
      <div class="input-group">
        <select
          class="form-control"
          id="topping"
          name="topping"
          required
          ngModel>
          <option *ngFor="let topping of getUnusedToppings()" value="{{topping.id}}">{{topping.name}}</option>
        </select>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success" [disabled]="!form.valid">Add</button>
        </span>
      </div>
    </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Fine-tune your hacks</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="extraprice">Extra topping price</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-euro"></i>
        </span>
        <input class="form-control" id="extraprice" type="number" [(ngModel)]="extraToppingPrice">
      </div>
    </div>
    <div class="col-md-6">
      <label for="size">Pick your size</label>
      <div class="input-group">
        <div class="btn-group" role="group" id="size" (click)="setComparisonSize($event)">
          <button
            *ngFor="let size of sizeTypes | enumToArray"
            class="btn btn-primary" value="{{sizeTypes[size]}}">{{size}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-12"
      *ngFor="let pizzaCompare of getComparedPizzas()">
      {{pizzaCompare.printToString()}} - {{pizzaCompare.newPrice}}
    </div>
  </div>
</div>
<ng-template #noPizza>
  <app-error-page [errorMessage]="'select a pizza to hack luv'"></app-error-page>
</ng-template>
