<div
  *ngIf="pizzaToBeCompared else noPizza"
  class="col-md-12 row">

    <h3 class="f3 b lh-title mb1 center tc">{{pizzaToBeCompared.name}}</h3>
    
  <div class="row tc center">
    <div class="col-md-12 list-group">
      <div
        *ngFor="let topping of pizzaToBeCompared.toppings"
        class="list-group-item clearfix">
        {{topping.name}}
        <span class="pull-right">
          <span class="btn btn-xs btn-default" (click)="removeToppingById(topping.id)">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
    <form (ngSubmit)="onAddIngredient()" #form="ngForm">
      <label for="topping">New Topping</label>
      <div class="input-group center">
        <select
          class="form-control tc f4 b "
          id="topping"
          name="topping"
          required
          ngModel>
          <option *ngFor="let topping of getUnusedToppings()" value="{{topping.id}}">{{topping.name}}</option>
        </select>
      </div>
<br>
      <span class="input-group-btn f3 b lh-title mb1 f2 b lh-title mt0 mb2 tc">
        <button type="submit" class="btn bn raise" [disabled]="!form.valid">Aggiungi ingrediente</button>
      </span>
    </form>
    </div>
  </div>


  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Fine-tune your hacks</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="extraprice">Extra topping price</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-euro"></i>
        </span>
        <input class="form-control" id="extraprice" type="number" [(ngModel)]="extraToppingPrice">
      </div>
    </div>
    <div class="col-md-6">
      <label for="size">Pick your size</label>
      <div class="input-group">
        <div class="btn-group" role="group" id="size" (click)="setComparisonSize($event)">
          <!--TODO active class doesn't look consistent with user clicks, keep it active if clicking outside-->
          <button type="button"
            *ngFor="let size of sizeTypes | enumToArray"
            class="btn btn-primary"
            [class.active]="sizeTypes[size] === selectedSize"
            value="{{sizeTypes[size]}}">{{size}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-12"
      *ngFor="let pizzaCompare of getComparedPizzas(); let i = index">
      <span
        [style.font-size]="i === 0 ? '1.3em' : 'medium'">
      {{pizzaCompare.originalPizza.name}}
        <span *ngIf="pizzaCompare.missing.length > 0">
          with extra <span style="color:lawngreen">{{pizzaCompare.missing | toppingsToString}}</span>
        </span>
        <span *ngIf="pizzaCompare.missing.length > 0 && pizzaCompare.extra.length > 0">
          and
        </span>
        <span *ngIf="pizzaCompare.extra.length > 0">
          missing <span style="color:darkred">{{pizzaCompare.extra | toppingsToString}}</span>
        </span>
        - {{pizzaCompare.newPrice | currency:'EUR':'symbol'}}
      </span>
    </div>
  </div>

</div>
<ng-template #noPizza>
  <app-error-page [errorMessage]="'select a pizza to hack luv'"></app-error-page>
</ng-template>
