<div
  *ngIf="pizzaToBeCompared else noPizza">
  <div class="modal-header">
    <div class="modal-title">
      <div class="f3 b lh-title mb1 center tc">
        <h3>{{pizzaToBeCompared.name}}</h3>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="modal-body">
  <div class="row tc center">
    <div class="col-md-12 list-group">
      <div
          *ngFor="let topping of pizzaToBeCompared.toppings"
          class="list-group-item clearfix">
        {{topping.name}}
        <span class="pull-right">
            <span class="btn btn-xs btn-default" (click)="removeToppingById(topping.id)">
              <span class="fa fa-remove"></span>
            </span>
          </span>
      </div>
    </div>
  </div>
  <div class="row tc" *ngIf="getUnusedToppings().length > 0">
    <div class="col-md-12">
      <form (ngSubmit)="onAddIngredient()" #form="ngForm">
        <label for="topping">New Topping</label>
        <div class="input-group center">
          <select
              class="form-control tc f4 b "
              id="topping"
              name="topping"
              required
              ngModel>
              <option *ngFor="let topping of getUnusedToppings()" value="{{topping.id}}">{{topping.name}}</option>
            </select>
        </div>
        <br>
        <span class="input-group-btn f3 b lh-title mb1 f2 b lh-title mt0 mb2 tc">
            <button type="submit" class="btn btn-success bn w-60 raise tc" [disabled]="!form.valid">Aggiungi ingrediente</button>
          </span>
      </form>
    </div>
  </div>


  <hr>
  <div class="row tc">
    <div class="col-md-12">
      <h4>Fine-tune your hacks</h4>
    </div>
  </div>
  <div class="row tc">
    <div class="col-md-12">
      <label for="extraprice">Extra topping price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
              <i class="fa fa-euro"></i>
            </span>
        </div>
        <input class="form-control" id="extraprice" type="number" step="any" [(ngModel)]="extraToppingPrice">
      </div>
    </div>
  </div>

<br>
<div class="row tc">

<div class="col-md-12">
  <label for="size">Pick your size</label>
  <div class="input-group">
    <div class="btn-group center" role="group" id="size" (click)="setComparisonSize($event)">
      <!--TODO active class doesn't look consistent with user clicks, keep it active if clicking outside-->
      <br>
      <button type="button"
          *ngFor="let size of sizeTypes | enumToArray"
          class="btn btn-primary"
          [class.active]="sizeTypes[size] === selectedSize"
      value="{{sizeTypes[size]}}">{{size}}</button>
    </div>
  </div>
</div>
</div>

<br>
<div class="row tc">

    <div class="col-md-12">
      <button class="btn btn-success bn w-60 raise" (click)="savePizza(pizzaToBeCompared)">save me</button>
    </div>
  </div>

    <hr>
    <div class="row">
      <div
        class="col-md-12"
        *ngFor="let pizzaCompare of getComparedPizzas(); let i = index">
        <span
          [class.cheapest-pizza]="i===0"
          [class.same-pizza]="pizzaCompare.missing.length === 0 && pizzaCompare.extra.length === 0">
          {{pizzaCompare.originalPizza.name}}
          <span *ngIf="pizzaCompare.missing.length > 0">
            with extra <span class="extra-ingredient">{{pizzaCompare.missing | toppingsToString}}</span>
          </span>
          <span *ngIf="pizzaCompare.missing.length > 0 && pizzaCompare.extra.length > 0">
            and
          </span>
          <span *ngIf="pizzaCompare.extra.length > 0">
            without <span class="missing-ingredient">{{pizzaCompare.extra | toppingsToString}}</span>
          </span>
          - {{pizzaCompare.newPrice | currency:'EUR':'symbol'}}
        </span>
      </div>
    </div>
  </div>

</div>
<ng-template #noPizza>
  <div class="modal-header">
    <div class="modal-title">
      Nothin here pardner
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-error-page [errorMessage]="'select a pizza to hack luv'"></app-error-page>
</ng-template>
