<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="userPizzas && userPizzas.length > 0">
        <h3 class="f3 b lh-title mb1">>My special pizzas</h3>
        <app-pizzas-list
          [pizzas]="userPizzas" [originalPizzas]="originalUserPizzas"
          [isDefaultPizza]="false"></app-pizzas-list>
      </div>
      <div *ngIf="pizzas && pizzas.length > 0">
        <h3 class="f3 b lh-title mb1">>Pizzas ready to be hacked</h3>
        <app-pizzas-list [pizzas]="pizzas" [originalPizzas]="originalPizzas"
          [isDefaultPizza]="true"></app-pizzas-list>
      </div>
    </div>
  </div>
</div>
